extends ../layouts/layout
block contents
    .col-12.grid-margin.stretch-card
      .card
        .card-body
          h4.card-title Edit Plane
          form.forms-sample(method="POST", action="/admin/plane/edit/" + plane._id)
            .form-group
              label(for='exampleInputName1') Tên máy bay
              |             
              input#exampleInputName1.form-control(type='text', placeholder='Tên máy bay' value=plane.name name="name")
            |           
            .form-group
              label(for='exampleInputEmail2') Mã máy bay
              |             
              input#exampleInputEmail2.form-control(type='text', placeholder='Mã máy bay' value=plane.code name="code")
            
            button(type="submit" class="btn btn-primary mr-2") Submit
            button(class="btn btn-light") Cancel          
            