extends ../layouts/layout
block contents
    .row
      .col-lg-12.grid-margin.stretch-card
        .card
          .card-body
            h4.card-title Flight
            |
            button.btn.btn-inverse-success.btn-icon.m-2(type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo")
              i.mdi.mdi-plus
            #exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
              .modal-dialog(role='document')
                .modal-content
                  .modal-header
                    h5#exampleModalLabel.modal-title New Plane
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                      span(aria-hidden='true') &times;
                  .modal-body
                    form(method="POST", action="/admin/plane/create")
                      .form-group
                        label.col-form-label(for='name') Tên máy bay
                        input#full-name.form-control(type='text' name='name')
                      .form-group
                        label.col-form-label(for='code') Mã máy bay
                        input#email.form-control(type='text' name="code")
                      .modal-footer
                        button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                        button.btn.btn-primary(type='submit') Create
            .table-responsive
              table.table.table-striped
                thead
                  tr
                    th Tên máy bay
                    th Mã máy bay
                    th
                tbody
                  each p in plane 
                        tr
                            td= p.name 
                            td= p.code
                            td
                                a(href="/admin/plane/edit/" + p._id)
                                    button.btn.btn-inverse-primary.btn-icon.m-2(type='button')
                                        i.mdi.mdi-pencil
                                a(href="/admin/plane/delete/" + p._id)
                                    button.btn.btn-inverse-danger.btn-icon.m-2(type='button')
                                        i.mdi.mdi-delete