<% layout('../layouts/layout') -%>
    <div class="uk-container-expand">
        <div class="impx-slide-container style1">
            <div class="impx-slideshow-fw">
                <div data-uk-slideshow="autoplay: true; autoplay-interval: 6000; animation: fade; finite: false; min-height: 319; max-height: 980;">
                    <div class="uk-position-relative uk-visible-toggle uk-light">
                        <ul class="uk-slideshow-items">
                            <li>
                                <!-- Slideshow Item #1 -->
                                <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-bottom-center">
                                    <img src="https://wallpaperaccess.com/full/878615.jpg" alt="" data-uk-cover="height:319px" />
                                    <div class="uk-overlay-primary uk-position-cover impx-overlay dark"></div>
                                </div>
                                <div class="uk-container uk-position-relative uk-height-1-1">
                                    <div class="login">
                                        <p class="text-center title-login">Login</p>
                                        <form>
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">Email address</label>
                                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                            </div>
                                            <div class="mb-3">
                                                <label for="exampleInputPassword1" class="form-label">Password</label>
                                                <input type="password" class="form-control" id="exampleInputPassword1">
                                            </div>
                                            <div class="mb-3 form-check">
                                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                            </div>
                                            <button type="submit" class="btn btn-danger" style="">Submit</button>
                                        </form>
                                        <div class="text-signup">
                                            <span class="text-center">Don't have any account?</span>
                                            <a href="#">Sign up</a>
                                        </div>
                                        <a href="#" class="forgotten">Forgot Password?</a>
                                        <span class="mt-3">Or</span>
                                        <div class="social-network">
                                            <a href=""><i class="fab fa-facebook"></i></a>
                                            <a href=""><i class="fab fa-google"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- Slideshow Item #1 End -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>