html
  head
  body
    header#impx-header
      div
        .impx-menu-wrapper.style2(data-uk-sticky='top: .impx-slide-container; animation: uk-animation-slide-top')
          // Mobile Nav Start
          #mobile-nav(data-uk-offcanvas='mode: push; overlay: true')
            .uk-offcanvas-bar
              ul.uk-nav.uk-nav-default
                li.uk-parent.uk-active
                  a(href='index.html') Home
                |                         
                li.uk-parent
                  a.uk-navbar-nav-subtitle(href='rooms1.html') Rooms
                |                         
                li
                  a(href='restaurant.html') Restaurant
                |                         
                li
                  a(href='spa.html') Spa
                |                         
                li
                  a(href='activities.html') Activities
                |                         
                li.uk-parent
                  a(href='#') Pages
                  |                             
                  ul.uk-nav-sub
                    li
                      a(href='about.html') About Us
                    |                                 
                    li
                      a(href='testimonial.html') Testimonial
                    |                                 
                    li
                      a(href='blog.html') Blog
                    |                                 
                    li
                      a(href='single-post.html') Single Post
                    |                                 
                    li
                      a(href='gallery.html') Gallery
                    |                                 
                    li
                      a(href='element.html') Element
                |                         
                li
                  a(href='contact.html') Contact
          |             
          a.mobile-nav(href='#mobile-nav', class='uk-hidden@xl uk-hidden@l uk-hidden@m', data-uk-toggle='target: #mobile-nav')
            i.fa.fa-bars
            | Menu
          // Mobile Nav End
          // Top Header
          .impx-top-header.style2
            .uk-container.uk-container-expand
              .uk-grid
                // header phone
                div(class='uk-width-1-2@xl uk-width-1-2@l uk-width-1-2@m uk-width-1-1@s')
                  .impx-top-phone
                    p
                      i.fa.fa-phone
                      |  Phone : +62 123456789
                // header phone end
                // header social media
                div(class='uk-width-1-2@xl uk-width-1-2@l uk-width-1-2@m uk-width-1-1@s')
                  .impx-top-social
                    ul
                      li
                        a(href='#')
                          i.fab.fa-facebook-f
                          | Facebook
                      |                                     
                      li
                        a(href='#')
                          i.fab.fa-instagram
                          | Instagram
                      |                                     
                      li
                        a(href='#')
                          i.fab.fa-twitter
                          | Twitter
                      |                                     
                      li
                        if (checkLogin)
                          a(href='/authentication/logout')
                            i.fal.fa-user
                            | Logout
                        else 
                          a(href='/authentication')
                            i.fal.fa-user
                            | Login
                // header social media end
          // Top Header End
          .uk-container.uk-container-expand
            div(data-uk-grid='')
              // Header Logo
              .uk-width-auto
                .impx-logo
                  a(href='/home')
                    img(src='images/logo.png', alt='Logo')
              // Header Logo End
              // Header Navigation
              .uk-width-expand.uk-position-relative
                nav.uk-navbar-container.uk-navbar-transparent(class='uk-visible@s uk-visible@m', data-uk-navbar='')
                  .uk-navbar-right.impx-navbar-right
                    ul.uk-navbar-nav.impx-nav.style2
                      // Navigation Items
                      li.uk-parent.uk-active
                        a.uk-navbar-nav-subtitle(href='/home')
                          div
                            | Home
                            .uk-navbar-subtitle
                              | Welcome
                      |                                     
                      li
                        a.uk-navbar-nav-subtitle(href='rooms1.html')
                          div
                            | Flight
                            .uk-navbar-subtitle
                              | Our Best Suites
                    // Navigation Items End
              // Header Navigation End
              // Promo Ribbon
              //
                <div class="uk-width-auto uk-position-relative">
                <div class="ribbon">
                <i><span><s></s>30% <span>Off!</span><s></s></span></i>
                </div>
                </div>
              // Promo Ribbon End
