// WHY CHOOSE US?
html
  head
  body
    .uk-padding-large.uk-padding-remove-horizontal.uk-position-relative.bg-img3.impx-features
      .uk-container
        .uk-margin-medium-top.uk-position-relative.uk-height-1-1.impx-features-content(class='uk-width-3-4@xl uk-width-3-4@l uk-width-1-1@m uk-width-1-1@s', data-uk-grid='')
          // Intro Text
          .impx-intro.uk-text-left
            h2.uk-margin-remove-bottom.uk-margin-small-top Why Choose Us?
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            p.uk-margin-remove.uk-text-uppercase You can additional subtitle Here.
          // Intro Text End
          ul.impx-features-hl.uk-grid-medium.uk-grid-match.uk-margin-top.impx-margin-top-small(class='uk-child-width-1-3@xl uk-child-width-1-3@l uk-child-width-1-3@m uk-child-width-1-2@s', data-uk-grid='')
            li
              // Reason Item #1
              .uk-card.uk-card-default.uk-card-body.uk-box-shadow-medium.color1.impx-feature-item.uk-position-relative
                h6.uk-margin-remove-top.uk-margin-bottom.impx-text-white Best Value for Family
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                p.uk-margin-remove.impx-text-lighter
                  | Cur igitur, cum de re conveniat, melius nos veriusque quam Stoici mallem aut expetendam.
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                span.feature-icon(data-uk-icon='icon: users; ratio: 8')
            // Reason Item #1 End
            li
              // Reason Item #2
              .uk-card.uk-card-default.uk-card-body.uk-box-shadow-medium.color2.impx-feature-item.uk-position-relative
                h6.uk-margin-remove-top.uk-margin-bottom.impx-text-white Services Priority
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                p.uk-margin-remove.impx-text-lighter
                  | Cur igitur, cum de re conveniat, melius nos veriusque quam Stoici mallem aut expetendam.
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                span.feature-icon(data-uk-icon='icon: bell; ratio: 8')
            // Reason Item #2 End
            li
              // Reason Item #3
              .uk-card.uk-card-default.uk-card-body.uk-box-shadow-medium.color3.impx-feature-item.uk-position-relative
                h6.uk-margin-remove-top.uk-margin-bottom.impx-text-white Best Facilities
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                p.uk-margin-remove.impx-text-lighter
                  | Cur igitur, cum de re conveniat, melius nos veriusque quam Stoici mallem aut expetendam.
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                span.feature-icon(data-uk-icon='icon: star; ratio: 8')
            // Reason Item #3 End
            li
              // Reason Item #4
              .uk-card.uk-card-default.uk-card-body.uk-box-shadow-medium.color4.impx-feature-item.uk-position-relative
                h6.uk-margin-remove-top.uk-margin-bottom.impx-text-white Satisfation Guarantee
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                p.uk-margin-remove.impx-text-lighter
                  | Cur igitur, cum de re conveniat, melius nos veriusque quam Stoici mallem aut expetendam.
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                span.feature-icon(data-uk-icon='icon: heart; ratio: 8')
            // Reason Item #4 End
            li
              // Reason Item #5
              .uk-card.uk-card-default.uk-card-body.uk-box-shadow-medium.color5.impx-feature-item.uk-position-relative
                h6.uk-margin-remove-top.uk-margin-bottom.impx-text-white Beatiful Panorama
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                p.uk-margin-remove.impx-text-lighter
                  | Cur igitur, cum de re conveniat, melius nos veriusque quam Stoici mallem aut expetendam.
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                span.feature-icon(data-uk-icon='icon: image; ratio: 8')
            // Reason Item #5 End
            li
              // Reason Item #6
              .uk-card.uk-card-default.uk-card-body.uk-box-shadow-medium.color6.impx-feature-item.uk-position-relative
                h6.uk-margin-remove-top.uk-margin-bottom.impx-text-white Enjoy Your Time
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                p.uk-margin-remove.impx-text-lighter
                  | Cur igitur, cum de re conveniat, melius nos veriusque quam Stoici mallem aut expetendam.
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                span.feature-icon(data-uk-icon='icon: happy; ratio: 8')
            // Reason Item #6 End
    // WHY CHOOSE US? END
