extends ../layouts/layout
block contents 
    // SLIDESHOW
    include ../layouts/components/slideshow
    // SLIDESHOW END

    .container
        table.table.table-striped 
            thead 
                tr 
                    th A
                    th B
                    th C
                    th D
            tbody 
                tr 
                    td E
                    td F
                    td G
                    td J