extends ../layouts/layout
block contents
  .content-wrapper
    .row
      .col-lg-12.grid-margin.stretch-card
        .card
          .card-body
            h4.card-title Airport
            |
            button.btn.btn-inverse-success.btn-icon.m-2(type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo")
              i.mdi.mdi-plus
            #exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
              .modal-dialog(role='document')
                .modal-content
                  .modal-header
                    h5#exampleModalLabel.modal-title New Airport
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                      span(aria-hidden='true') &times;
                  .modal-body
                    form(method="POST", action="/admin/airports/create")
                      .form-group
                        label.col-form-label(for='arrival') Tên sân bay:
                        input#full-name.form-control(type='text' name='name')
                      .form-group
                        label.col-form-label(for='takeoff') Mã sân bay:
                        input#email.form-control(type='text' name="code")
                      .modal-footer
                        button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                        button.btn.btn-primary(type='submit') Create
            .table-responsive
              table.table.table-striped
                thead
                  tr
                    th
                      | Tên sân bay
                    |
                    th
                      | Mã sân bay
                    |
                    th
                tbody
                  each airport in airports
                      tr
                        //- td.py-1
                        //-   img(src='/assets/admin/images/faces/face1.jpg' alt='image')
                        //- |
                        td= airport.name
                        td= airport.code
                        td
                          a(href="/admin/airports/edit/" + airport._id)
                            button.btn.btn-inverse-primary.btn-icon.m-2(type='button')
                              i.mdi.mdi-pencil
                          a(href="/admin/airports/delete/" + airport._id)
                            button.btn.btn-inverse-danger.btn-icon.m-2(type='button')
                              i.mdi.mdi-delete