<div class="uk-container-expand">
    <div class="impx-slide-container style1">
        <div class="impx-slideshow-fw">
            <div
                data-uk-slideshow="autoplay: true; autoplay-interval: 6000; animation: fade; finite: false; min-height: 319; max-height: 980;"
            >
                <div class="uk-position-relative uk-visible-toggle uk-light">
                    <ul class="uk-slideshow-items">
                        <li>
                            <!-- Slideshow Item #1 -->
                            <div
                                class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-bottom-center"
                            >
                                <img
                                    src="images/slideshow/full-slide-1.jpg"
                                    alt=""
                                    data-uk-cover="height:319px"
                                />
                                <div
                                    class="uk-overlay-primary uk-position-cover impx-overlay dark"
                                ></div>
                            </div>
                            <div
                                class="uk-container uk-position-relative uk-height-1-1"
                            >
                                <div
                                    class="uk-position-left uk-flex uk-flex-middle"
                                >
                                    <div class="impx-slide-fw-caption">
                                        <div
                                            class="impx-slide-fw-caption-outline uk-transition-slide-left"
                                        ></div>
                                        <h1
                                            class="uk-margin-remove impx-text-shadow uk-transition-slide-top uk-text-left"
                                        >
                                            Sativa Hotel &amp; Resort
                                        </h1>
                                        <p
                                            class="impx-text-large impx-text-aqua uk-margin-remove impx-text-shadow uk-transition-slide-bottom uk-text-right uk-text-uppercase"
                                        >
                                            Responsive HTML Template
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- Slideshow Item #1 End -->
                        <li>
                            <!-- Slideshow Item #2 -->
                            <div
                                class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-right"
                            >
                                <img
                                    src="images/slideshow/full-slide-2.jpg"
                                    alt=""
                                    data-uk-cover
                                />
                                <div
                                    class="uk-overlay-primary uk-position-cover impx-overlay dark"
                                ></div>
                            </div>
                            <div
                                class="uk-container uk-position-relative uk-height-1-1"
                            >
                                <div
                                    class="uk-position-right uk-flex uk-flex-middle"
                                >
                                    <div class="impx-slide-fw-caption right">
                                        <div
                                            class="impx-slide-fw-caption-outline right bottom uk-transition-slide-left"
                                        ></div>
                                        <h1
                                            class="uk-margin-remove impx-text-shadow uk-transition-slide-top uk-text-right"
                                        >
                                            Beautiful Panorama
                                        </h1>
                                        <p
                                            class="uk-text-large impx-text-aqua uk-margin-remove impx-text-shadow uk-transition-slide-bottom uk-text-right uk-text-uppercase"
                                        >
                                            Enjoy the Best View
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- Slideshow Item #2 End -->
                        <li>
                            <!-- Slideshow Item #3 -->
                            <div
                                class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left"
                            >
                                <img
                                    src="images/slideshow/full-slide-3.jpg"
                                    alt=""
                                    data-uk-cover
                                />
                                <div
                                    class="uk-overlay-primary uk-position-cover impx-overlay dark"
                                ></div>
                            </div>
                            <div
                                class="uk-container uk-position-relative uk-height-1-1"
                            >
                                <div
                                    class="uk-position-left uk-flex uk-flex-middle"
                                >
                                    <div
                                        class="impx-slide-fw-caption text-right"
                                    >
                                        <div
                                            class="impx-slide-fw-caption-outline uk-transition-slide-top"
                                        ></div>
                                        <h1
                                            class="impx-text-white uk-margin-remove impx-text-shadow uk-transition-scale-down"
                                        >
                                            Luxurious &amp; Convenient
                                        </h1>
                                        <p
                                            class="uk-text-large impx-text-gold uk-margin-remove impx-text-shadow uk-transition-scale-up uk-text-right uk-text-uppercase"
                                        >
                                            Choose The Best One
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- Slideshow Item #3 End -->
                        <li>
                            <!-- Slideshow Item #4 -->
                            <div
                                class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-bottom-right"
                            >
                                <img
                                    src="images/slideshow/full-slide-4.jpg"
                                    alt=""
                                    data-uk-cover
                                />
                                <div
                                    class="uk-overlay-primary uk-position-cover impx-overlay dark"
                                ></div>
                            </div>
                            <div
                                class="uk-container uk-position-relative uk-height-1-1"
                            >
                                <div
                                    class="uk-position-center uk-flex uk-flex-middle"
                                >
                                    <div class="impx-slide-fw-caption bottom">
                                        <div
                                            class="impx-slide-fw-caption-outline center bottom uk-transition-slide-left"
                                        ></div>
                                        <h1
                                            class="uk-margin-remove impx-text-shadow uk-transition-slide-top uk-text-center"
                                        >
                                            Oriental Spa
                                        </h1>
                                        <p
                                            class="uk-text-large impx-text-aqua uk-margin-remove impx-text-shadow uk-transition-slide-bottom uk-text-center uk-text-uppercase"
                                        >
                                            Our Spa Service
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- Slideshow Item #4 End -->
                        <li>
                            <!-- Slideshow Item #5 -->
                            <div
                                class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-top-center"
                            >
                                <img
                                    src="images/slideshow/full-slide-5.jpg"
                                    alt=""
                                    data-uk-cover
                                />
                                <div
                                    class="uk-overlay-primary uk-position-cover impx-overlay dark"
                                ></div>
                            </div>
                            <div
                                class="uk-container uk-position-relative uk-height-1-1"
                            >
                                <div
                                    class="uk-position-left uk-flex uk-flex-middle"
                                >
                                    <div class="impx-slide-fw-caption">
                                        <div
                                            class="impx-slide-fw-caption-outline uk-transition-slide-fade"
                                        ></div>
                                        <h1
                                            class="impx-text-white uk-margin-remove impx-text-shadow uk-transition-slide-bottom"
                                        >
                                            In-house Restaurant
                                        </h1>
                                        <p
                                            class="uk-text-large impx-text-aqua uk-margin-remove impx-text-shadow uk-transition-slide-top uk-text-right uk-text-uppercase"
                                        >
                                            The Delicious Foods
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- Slideshow Item #5 End -->
                    </ul>

                    <!-- Slideshow Nav -->
                    <a
                        class="uk-position-center-left uk-position-small uk-hidden-hover"
                        href="#"
                        data-uk-slidenav-previous
                        data-uk-slideshow-item="previous"
                    ></a>
                    <a
                        class="uk-position-center-right uk-position-small uk-hidden-hover"
                        href="#"
                        data-uk-slidenav-next
                        data-uk-slideshow-item="next"
                    ></a>
                    <!-- Slideshow Nav End -->
                </div>
            </div>
        </div>
    </div>
</div>
