extends ../layouts/layout
block contents 
    include ./home-slider
    include ../layouts/compornents/service-booking-form
    include ./room-list
    include ../layouts/compornents/why-choose-us
    include ../layouts/compornents/pricing-plan