// ROOMS LIST
html
  head
  body
    .uk-position-relative.impx-section-rooms.bg1.uk-position-relative.uk-background-fixed.uk-background-center-center.uk-height-1-1
      .impx-overlay
      | &#x9;&#x9;&#x9;
      .uk-container
        .uk-position-relative.uk-visible-toggle
          ul.uk-grid-collapse.uk-box-shadow-large.uk-grid-match.impx-rooms-grid(class='uk-child-width-1-2@xl uk-child-width-1-2@l uk-child-width-1-2@m uk-child-width-1-1@s', data-uk-grid='')
            li
              // Room Item #1
              .impx-room-item.medium
                .uk-card.uk-card-default.uk-grid-collapse(class='uk-child-width-1-2@s', data-uk-grid='')
                  .uk-card-media-left.uk-cover-container.uk-position-relative
                    canvas(width='290', height='180')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;        
                    img(src='images/rooms/room-square-1.jpg', alt='', data-uk-cover='')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;        
                    .impx-overlay.light.overlay-squared.padding-xwide
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;        
                  .uk-card-body.uk-position-relative.impx-padding-medium
                    .uk-card-header.uk-padding-remove-horizontal
                      h4.uk-card-title.uk-margin-remove-bottom Single Room
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                
                      p.uk-text-meta.uk-margin-remove-top Subtitle Goes Here
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;        &#x9;
                    span.uk-card-badge.uk-label.bg-color-aqua from $50/night
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;            
                    ul.uk-list.room-fac
                      li
                        span.impx-text-aqua(data-uk-icon='icon: check; ratio: 1;')
                        |  Beatus in maximarum timore
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      li
                        span.impx-text-aqua(data-uk-icon='icon: check; ratio: 1;')
                        |  Oculis Compensabatur
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      li
                        span.impx-text-aqua(data-uk-icon='icon: check; ratio: 1;')
                        |  Dolorisnos veriusque nihil
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9; 
                    .uk-card-footer.uk-padding-remove-horizontal.uk-padding-remove-bottom
                      a.uk-button.uk-button-text.impx-text-aqua(href='room-detail.html') Read more &raquo;
            // Room Item #1 End
            li
              // Room Item #2
              .impx-room-item.medium
                .uk-card.uk-card-default.uk-grid-collapse(class='uk-child-width-1-2@s', data-uk-grid='')
                  .uk-card-media-left.uk-cover-container.uk-position-relative
                    canvas(width='290', height='180')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;        
                    img(src='images/rooms/room-square-5.jpg', alt='', data-uk-cover='')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;        
                    .impx-overlay.light.overlay-squared.padding-xwide
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;        
                  .uk-card-body.uk-position-relative.impx-padding-medium
                    .uk-card-header.uk-padding-remove-horizontal
                      h4.uk-card-title.uk-margin-remove-bottom Double Room
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                
                      p.uk-text-meta.uk-margin-remove-top Subtitle Goes Here
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;        &#x9;
                    span.uk-card-badge.uk-label.bg-color-aqua from $80/night
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;            
                    ul.uk-list.room-fac
                      li
                        span.impx-text-aqua(data-uk-icon='icon: check; ratio: 1;')
                        |  Beatus in maximarum timore
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      li
                        span.impx-text-aqua(data-uk-icon='icon: check; ratio: 1;')
                        |  Oculis Compensabatur
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      li
                        span.impx-text-aqua(data-uk-icon='icon: check; ratio: 1;')
                        |  Dolorisnos veriusque nihil
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .uk-card-footer.uk-padding-remove-horizontal.uk-padding-remove-bottom
                      a.uk-button.uk-button-text.impx-text-aqua(href='room-detail.html') Read more &raquo;
            // Room Item #2 End
            li
              // Room Item #3
              .impx-room-item.medium
                .uk-card.uk-card-default.uk-grid-collapse(class='uk-child-width-1-2@s', data-uk-grid='')
                  .uk-card-body.uk-position-relative.impx-padding-medium
                    .uk-card-header.uk-padding-remove-horizontal
                      h4.uk-card-title.uk-margin-remove-bottom Premiere Room
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                
                      p.uk-text-meta.uk-margin-remove-top Subtitle Goes Here
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;        &#x9;
                    span.uk-card-badge.uk-label.bg-color-aqua from $100/night
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;            
                    ul.uk-list.room-fac
                      li
                        span.impx-text-aqua(data-uk-icon='icon: check; ratio: 1;')
                        |  Beatus in maximarum timore
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      li
                        span.impx-text-aqua(data-uk-icon='icon: check; ratio: 1;')
                        |  Oculis Compensabatur
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      li
                        span.impx-text-aqua(data-uk-icon='icon: check; ratio: 1;')
                        |  Dolorisnos veriusque nihil
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .uk-card-footer.uk-padding-remove-horizontal.uk-padding-remove-bottom
                      a.uk-button.uk-button-text.impx-text-aqua(href='room-detail.html') Read more &raquo;
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;        
                  .uk-card-media-right.uk-cover-container.uk-position-relative
                    canvas(width='290', height='180')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;        
                    img(src='images/rooms/room-square-3.jpg', alt='', data-uk-cover='')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;        
                    .impx-overlay.light.overlay-squared.padding-xwide
            // Room Item #3 End
            li
              // Room Item #4
              .impx-room-item.medium
                .uk-card.uk-card-default.uk-grid-collapse(class='uk-child-width-1-2@s', data-uk-grid='')
                  .uk-card-body.uk-position-relative.impx-padding-medium
                    .uk-card-header.uk-padding-remove-horizontal
                      h4.uk-card-title.uk-margin-remove-bottom Deluxe Room
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                
                      p.uk-text-meta.uk-margin-remove-top Subtitle Goes Here
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;        &#x9;
                    span.uk-card-badge.uk-label.bg-color-aqua from $150/night
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;            
                    ul.uk-list.room-fac
                      li
                        span.impx-text-aqua(data-uk-icon='icon: check; ratio: 1;')
                        |  Beatus in maximarum timore
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      li
                        span.impx-text-aqua(data-uk-icon='icon: check; ratio: 1;')
                        |  Oculis Compensabatur
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      li
                        span.impx-text-aqua(data-uk-icon='icon: check; ratio: 1;')
                        |  Dolorisnos veriusque nihil
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .uk-card-footer.uk-padding-remove-horizontal.uk-padding-remove-bottom
                      a.uk-button.uk-button-text.impx-text-aqua(href='room-detail.html') Read more &raquo;
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;    
                  .uk-card-media-right.uk-cover-container.uk-position-relative
                    canvas(width='290', height='180')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;        
                    img(src='images/rooms/room-square-4.jpg', alt='', data-uk-cover='')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;        
                    .impx-overlay.light.overlay-squared.padding-xwide
            // Room Item #4 End
    // ROOMS LIST END
