html
  head
  body
    .impx-contact
      #impx-gmap
      | &#x9;&#x9;&#x9;
      .impx-overlay.aqua-darkest.uk-padding.uk-padding-remove-bottom.uk-padding-remove-horizontal
        .uk-container
          .uk-margin-medium-bottom(class='uk-width-2-3@xl uk-width-2-3@l uk-width-2-3@m uk-width-1-1@s')
            // Location
            h4.impx-text-white Our Location
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            p.impx-text-large.impx-text-light
              | Oculorum, inquit Plato, est in nobis sensus acerrimus, quibus sapientiam non cernimus non semper inquam At enim sequor utilitatem praetermissum in Stoicis?
            // Location End
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          .uk-padding-remove-bottom(data-uk-grid='')
            // Address
            .uk-light(class='uk-width-1-2@xl uk-width-1-2@l uk-width-1-2@m uk-width-1-1@s')
              h5.uk-heading-line.uk-margin-remove-bottom.impx-text-white
                span Address
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              p.impx-text-large.uk-margin-top.impx-text-light
                | Jln. Raya Kemerderkaan RI No. 17
                br
                | Indonesia Raya
            // Address End
            .uk-light(class='uk-width-1-4@xl uk-width-1-4@l uk-width-1-4@m uk-width-1-1@s')
              // Phone
              h5.uk-heading-line.uk-margin-bottom.impx-text-white
                span Phone
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              p.impx-text-large.uk-margin-remove.impx-text-light
                | +62 123456789
                br
                | +62 987456123
            // Phone End
            .uk-light(class='uk-width-1-4@xl uk-width-1-4@l uk-width-1-4@m uk-width-1-1@s')
              // Email
              h5.uk-heading-line.uk-margin-bottom.impx-text-white
                span Email
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              a.impx-text-large.impx-text-light(href='mailt:#') cs@sativa-html.com
              br
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              a.impx-text-large.impx-text-light(href='mailt:#') info@sativa-html.com
            // Email End
