.uk-padding
  .uk-container
    .uk-flex.uk-flex-center.uk-margin-medium-bottom.impx-rooms-intro
      .uk-text-center(class='uk-width-2-3@xl uk-width-2-3@l uk-width-1-1@m uk-width-1-1@s')
        // intro
        h2.uk-margin-remove-top.uk-margin-small-bottom Our Special Offers
        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
        p.impx-text-large.uk-margin-remove-top
          | Eiuro, inquit adridens, iniquum, hac quidem de re Conferam tecum, quam cuique verso rem si vis, 
          span.uk-label.uk-label-danger.uk-text-bold.bg-color-gold $299 for 3 Nights
          |  transfer in animum; Sed quanta sit alias?
      // intro end
    | &#x9;&#x9;&#x9;&#x9;
    .uk-flex.uk-flex-center.uk-margin-bottom
      .uk-width-1-1
        // pricing items
        .uk-grid-collapse(class='uk-child-width-1-3@xl uk-child-width-1-3@l uk-child-width-1-3@m uk-child-width-1-3@s', data-uk-grid='')
          div
            // pricing item #1
            .impx-promo-pricing.uk-padding.uk-box-shadow-medium.uk-light.bg-color-white
              .uk-position-relative
                img(src='images/pricing-img-1.jpg', alt='')
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .impx-overlay.light
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .uk-position-relative.bg-color-gold.uk-padding
                h4.uk-heading-line
                  span Silver
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;            
                span.uk-label.uk-label-success.impx-text-gold.uk-text-bold $299 for 3 Nights
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                ul.uk-list
                  li
                    i.fa.fa-bed
                    |  Quae qui non vident, nihil
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    i.fa.fa-coffee
                    |  praeclare inter se cohaerere
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    i.fa.fa-group
                    |  Tenesne igitur, inquam
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                a.uk-button.impx-button.small.impx-button-outline.small-border(href='#')
                  | View Detail 
                  i.fa.fa-arrow-right
          // pricing item #1 end
          .uk-position-relative.uk-position-z-index
            // pricing item #2
            .impx-promo-pricing.uk-padding.uk-box-shadow-large.uk-light.featured.bg-color-white
              .uk-position-relative
                img(src='images/pricing-img-2.jpg', alt='')
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .impx-overlay.light
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .uk-position-relative.bg-color-aqua.uk-padding
                h3.uk-heading-line
                  span Gold
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;            
                span.uk-label.uk-label-success.impx-text-gold.uk-text-bold $399 for 3 Nights
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                ul.uk-list.uk-list-large
                  li
                    i.fa.fa-bed
                    |  Quae qui non vident, nihil
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    i.fa.fa-coffee
                    |  praeclare inter se cohaerere
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    i.fa.fa-group
                    |  Tenesne igitur, inquam
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                a.uk-button.impx-button.small.impx-button-outline.small-border(href='#')
                  | View Detail 
                  i.fa.fa-arrow-right
          // pricing item #2 end
          div
            // pricing item #3
            .impx-promo-pricing.uk-padding.uk-box-shadow-medium.uk-light.bg-color-white
              .uk-position-relative
                img(src='images/pricing-img-3.jpg', alt='')
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .impx-overlay.light
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .uk-position-relative.bg-color-gold.uk-padding
                h4.uk-heading-line
                  span Diamond
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;            
                span.uk-label.uk-label-success.impx-text-gold.uk-text-bold $499 for 3 Nights
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                ul.uk-list
                  li
                    i.fa.fa-bed
                    |  Quae qui non vident, nihil
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    i.fa.fa-coffee
                    |  praeclare inter se cohaerere
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    i.fa.fa-group
                    |  Tenesne igitur, inquam
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                a.uk-button.impx-button.small.impx-button-outline.small-border(href='#')
                  | View Detail 
                  i.fa.fa-arrow-right
          // pricing item #3 end
        // pricing items end
