html
  head
  body
    .uk-padding.uk-padding-remove-horizontal.uk-position-relative.uk-position-relative.bg-img1
      .uk-container
        .uk-flex-left(data-uk-grid='')
          div(class='uk-width-2-3@xl uk-width-2-3@l uk-width-1-1@m')
            .impx-intro.uk-text-left
              // Intro
              h2.uk-margin-remove-bottom Why Choose Us?
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              p.uk-margin-remove-top.uk-text-uppercase.uk-text-muted.impx-text-large You can additional subtitle Here.
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              p.impx-text-large.uk-margin-remove.impx-text-aqua
                | Re mihi non aeque satisfacit, et quidem locis pluribus. Atqui, inquam, Cato, si istud optinueris, traducas me ad te totum inquit, tamen cum his omnibus animi laetitia, quam capiebam.
            // Intro End
        | &#x9;&#x9;&#x9;&#x9;
        .uk-position-relative.uk-margin-bottom(class='uk-width-3-4@xl uk-width-3-4@l uk-width-1-1@m uk-width-1-1@s', data-uk-grid='')
          // Reason Items
          ul.impx-features-hl.uk-grid-medium.uk-grid-match(class='uk-child-width-1-3@xl uk-child-width-1-3@l uk-child-width-1-3@m uk-child-width-1-2@s', data-uk-grid='')
            li
              // Reason Item #1
              .uk-card.uk-card-default.uk-card-body.uk-box-shadow-medium.color1.impx-feature-item.uk-position-relative
                h6.uk-margin-remove-top.uk-margin-bottom.impx-text-white Best Value for Family
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                p.uk-margin-remove.impx-text-lighter
                  | Cur igitur, cum de re conveniat, melius nos veriusque quam Stoici mallem aut expetendam.
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                span.feature-icon(data-uk-icon='icon: users; ratio: 8')
            // Reason Item #1 End
            li
              // Reason Item #2
              .uk-card.uk-card-default.uk-card-body.uk-box-shadow-medium.color2.impx-feature-item.uk-position-relative
                h6.uk-margin-remove-top.uk-margin-bottom.impx-text-white Services Priority
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                p.uk-margin-remove.impx-text-lighter
                  | Cur igitur, cum de re conveniat, melius nos veriusque quam Stoici mallem aut expetendam.
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                span.feature-icon(data-uk-icon='icon: bell; ratio: 8')
            // Reason Item #2 End
            li
              // Reason Item #3
              .uk-card.uk-card-default.uk-card-body.uk-box-shadow-medium.color3.impx-feature-item.uk-position-relative
                h6.uk-margin-remove-top.uk-margin-bottom.impx-text-white Best Facilities
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                p.uk-margin-remove.impx-text-lighter
                  | Cur igitur, cum de re conveniat, melius nos veriusque quam Stoici mallem aut expetendam.
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                span.feature-icon(data-uk-icon='icon: star; ratio: 8')
            // Reason Item #3 End
            li
              // Reason Item #4
              .uk-card.uk-card-default.uk-card-body.uk-box-shadow-medium.color4.impx-feature-item.uk-position-relative
                h6.uk-margin-remove-top.uk-margin-bottom.impx-text-white Satisfation Guarantee
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                p.uk-margin-remove.impx-text-lighter
                  | Cur igitur, cum de re conveniat, melius nos veriusque quam Stoici mallem aut expetendam.
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                span.feature-icon(data-uk-icon='icon: heart; ratio: 8')
            // Reason Item #4 End
            li
              // Reason Item #5
              .uk-card.uk-card-default.uk-card-body.uk-box-shadow-medium.color5.impx-feature-item.uk-position-relative
                h6.uk-margin-remove-top.uk-margin-bottom.impx-text-white Beatiful Panorama
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                p.uk-margin-remove.impx-text-lighter
                  | Cur igitur, cum de re conveniat, melius nos veriusque quam Stoici mallem aut expetendam.
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                span.feature-icon(data-uk-icon='icon: image; ratio: 8')
            // Reason Item #5 End
            li
              // Reason Item #6
              .uk-card.uk-card-default.uk-card-body.uk-box-shadow-medium.color6.impx-feature-item.uk-position-relative
                h6.uk-margin-remove-top.uk-margin-bottom.impx-text-white Enjoy Your Time
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                p.uk-margin-remove.impx-text-lighter
                  | Cur igitur, cum de re conveniat, melius nos veriusque quam Stoici mallem aut expetendam.
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                span.feature-icon(data-uk-icon='icon: happy; ratio: 8')
            // Reason Item #6 End
          // Reason Items End
