extends ../layouts/layout
block contents
    .col-12.grid-margin.stretch-card
      .card
        .card-body
          h4.card-title Edit Carrier
          form.forms-sample(method="POST", action="/carriers/edit/" + carrier._id)
            .form-group
              label(for='exampleInputName1') Tên hãng
              |
              input#exampleInputName1.form-control(type='text', placeholder='Tên sân bay' value=carrier.name name="name")
            |
            .form-group
              label(for='exampleInputEmail2') Mã hãng
              |
              input#exampleInputEmail2.form-control(type='text', placeholder='Mã sân bay' value=carrier.code name="code")
            |
            button(type="submit" class="btn btn-primary mr-2") Submit
            button(class="btn btn-light" href="/admin/airports/") Cancel
